<h1>New Entry</h1> 

<form action="/entries" method="post">
<label>Name: </label>
<input type="text" name="name"><br>
<label>Date: </label>
<input type="text" name="date"><br>
<label>Sign: </label>
<input type="text" name="sign"><br>
<label>Notes: </label>
<input type="text" name="notes"><br>

<input type="submit" value="Create Entry">
</form>