<h1>Hi, <%=@user.name%>.</h1> 

<h3>Here are your [pillowcases]:</h3> 
<ul>
<% @entries.each do |entry| %> 
    <li><%=entry.date%>: <a href="/entries/<%=entry.id%>"><%=entry.name%></a></li>
    <% end %> 
</ul>